<div class="row">
  <div class="col-md-6">
    <div class="img-wrp">
      <img src="assets/images/beermate.jpg" alt="beermate" height="" width="100%">
    </div>
  </div>
  <div class="col-md-6">
    <div class="text-carosal">
      {{#slick-slider autoplay=true arrows=false dots= true}}
        <div class="box"> <span class="primary-text"> Get your beer <br> delivered at your home. </span></div>
        <div class="box"> <span class="primary-text"> Get your beer <br> delivered at your home. </span> </div>
        <div class="box"> <span class="primary-text"> Get your beer <br> delivered at your home. </span> </div>
        <div class="box"> <span class="primary-text"> Get your beer <br> delivered at your home. </span> </div>
      {{/slick-slider}}
    </div>
  </div>
</div>
